version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.1.0
  go: circleci/go@0.2.0

jobs:
  test:
    # Whenever the Go version is updated here, .promu.yml should also be updated.
    docker:
      - image: circleci/golang:1.13

    steps:
      - prometheus/setup_environment
      - go/load-cache:
        key: v1-go-mod
      - run: make
      - go/save-cache:
          key: v1-go-mod
      - prometheus/store_artifact:
          file: prometheus-webhook-dingtalk

workflows:
  version: 2
  prometheus-webhook-dingtalk:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - prometheus/build:
          name: build
          filters:
            tags:
              only: /.*/
      - prometheus/publish_master:
          context: timonwong-context
          requires:
            - test
            - build
          filters:
            branches:
              only: master
      - prometheus/publish_release:
          context: timonwong-context
          requires:
            - test
            - build
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
            branches:
              ignore: /.*/
